        <!DOCTYPE html>
        <html lang="en">

        <head>

          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta name="description" content="">
          <meta name="author" content="">

          <title>Bring Change</title>

          <!-- Bootstrap Core CSS -->
          <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">

          <link href="{{ url_for('static', filename = 'css/custom-css.css') }}" rel = "stylesheet">

          <!-- Fonts -->
          <link href="{{ url_for('static', filename = 'fonts/font-roboto/roboto.html') }}" rel="import">
    </head>
    <body>

      <nav class = "navbar">
        <table>
          <tr>
            <td class = "navbar-title">
              <p> Request For Change.</p>
            </td>
            <td width="30%"></td>
            <td ><a class="navbar-element" onclick="window.location.href='/show';">  Home  </a>
            </td>
            <td width="10px"></td>
            <td><a class="navbar-element" onclick="window.location.href='/change';">  Write-A-Petition  </a>
            </td>
            <td width="10px"></td>
            <td><a class="navbar-element" onclick="window.location.href='/logout';">Sign-Out</a> 
            </td>
            <td>      
              <form class="navbar-form" role="search" method = "POST" action = "{{ url_for('search') }}">
                <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                <button  class="btn btn-default" type="submit" ><span class="glyphicon glyphicon-search"></span></button>
              </form>
            </td>        
          </tr>
          <tr>      
            <td class = "navbar-subtitle">Don't wait for it to come to you. Demand it.</td>
          </tr>
        </table>
      </nav>

      <div class="content-box">
        <div class = "left-sidebar">
          <ul class = "filters">
            <li><a class = "list-element" href="/showtag/all">All</a></li>
            {%for committee in committees%}
            <li><a class = "list-element" href="/showtag/{{committee}}">{{committee}}</a></li>
            {%endfor %}
          </ul>
        </div>

        <div class = "main-content">

          {% for post in posts %}

          <div class="request-card">
            <br>
            <div class = "request-card-title-div" >
              <a class = "request-card-title" href='/showpost/{{post.id}}'>{{ post.title }}</a>
            </div>
            {% if post.subtitle %}
            <h4>{{ post.subtitle }}</h4>
            {% endif %}
            <font class = "request-sub"> Subjected To :
            <a class = "request-card-sub"  href='/showtag/{{ post.tags }}'>
              {{ post.tags }} </a></font>
              <div class = "request-desc-div">
                <font class = "request-desc">Post Description: </font> 
                {{ post.content|truncate(250) }}
              </div>
              <div>
              <font class = "request-meta">
                {{ post.date.strftime('%Y-%m-%d') }} | {{ post.supporters.split()|length }} Supporters | {{ post.comments_no }} comments |<a href='/savepost/{{post.id}}'> save</a>
              </font>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>

        <!-- jQuery Version 1.11.1 -->
        <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

      </body>

      </html>
