    <!DOCTYPE html>
    <html lang="en">

    <head>

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>Change: {{post.title}}</title>

      <!-- Bootstrap Core CSS -->
     <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename = 'css/custom.css') }}" rel="stylesheet">
  <script type="text/javascript" src="{{ url_for('static', filename = 'bower_components/webcomponentsjs/webcomponents-lite.js') }}"></script>
  <link href="{{ url_for('static', filename = 'bower_components/polymer/polymer.html') }}" rel="import">

 <link href="{{ url_for('static', filename = 'bower_components/paper-header-panel/paper-header-panel.html') }}" rel="import">
  <link href="{{ url_for('static', filename = 'bower_components/paper-material/paper-material.html') }}" rel="import">
  <link href="{{ url_for('static', filename = 'bower_components/paper-toolbar/paper-toolbar.html') }}" rel="import">
  <link href="{{ url_for('static', filename = 'bower_components/iron-flex-layout/iron-flex-layout.html') }}" rel="import">

  <!-- FOnts -->
  <link href="{{ url_for('static', filename = 'bower_components/font-roboto/roboto.html') }}" rel="import">

<link href="{{ url_for('static', filename = 'bower_components/paper-button/paper-button.html') }}" rel="import">

      <!-- Custom CSS -->
      <style>
        body {
          /*padding-top: 50px;*/
          /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }
      </style>

      
    </head>

    <body>
      <paper-header-panel>
    <paper-toolbar style="margin:20px;">
          <div style="float:left">
            <h1 id="site-title">Request for Change.</h1>
              <p class="lead">Don't wait for it to come to you. Demand it.</p>
          </div>
            <paper-button type="button" class="btn btn-primary r-btn" onclick="window.location.href='/logout';"><span class="glyphicon glyphicon-log-out"/> SignOut</paper-button>
            <paper-button type="button" class="btn btn-primary r-btn" onclick="window.location.href='/change';"><span class="glyphicon glyphicon-pencil"/> WriteAPetition</paper-button>
            
            <paper-button type="button" class="btn btn-primary r-btn" onclick="window.location.href='/show';"><span class="glyphicon glyphicon-home"/>  Home</paper-button>
            <form style="float:right" class="navbar-form" role="search" method = "POST" action = "{{ url_for('search') }}">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit" ><span class="glyphicon glyphicon-search"></span></button>
            </div>
          </div>
        </form>
    </paper-toolbar>
  </paper-header-panel>

  <paper-material class="post-container">
      <div class="row post-title-section">
        
          <h1 class="post-title">{{ post.title }}</h1>
          {% if post.subtitle %}
          <h2 class="post-subtitle"> {{ post.subtitle }} </h2>
          {% endif %}
      
      </div>
      <div class="row">
        
        <div class="post-content">
          <p>{{ post.content }}</p>
        </div>

        <div class="">

          <p><button type="button" class="btn btn-primary" style="margin-right:20px;" onclick="window.location.href='/upvote/{{ post.id }}';"><span class="glyphicon glyphicon-arrow-up"/>  Support</button>{{ post.date.strftime('%Y-%m-%d') }} | {{ post.supporters.split()|length }} Supporters</p>
    
          {% if comments %}
          <h3>Comments</h3>
          {% for comment in comments %}
          <div class = "comment-list">
            <p>{{ comment.body }}</p>
            <p>
              <span style="font-size:12px; font-weight:600">{{ comment.user_id }} on {{ comment.date.strftime('%Y-%m-%d') }}</span>
              <span style="display:block">{{ comment.content }}</span>
            </p>
            
          </div>
          {% endfor %}
          {% endif %}
        </div>
      </div>
      <div class = "col-ms-6"> 
        
      </div>
  
      <div class="">
        <h4>Leave a Comment:</h4>
        <form role="form" method = "POST" action="{{ url_for('addcomment') }}">
          <div class="form-group">
            <textarea class="form-control" name="content" required = "True" rows="1"></textarea>
            <input type="hidden" name="postid" value=" {{ post.id }}">
            <button type="submit" name="btn" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
<!-- /.container -->

</paper-material>
  <!-- jQuery Version 1.11.1 -->
  <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>

</html>



